body {
	margin: 0;
	padding: 0;
    text-align: center;
    background-color: rgb(145,204,241);
	font-family: 'Poppins', sans-serif;
}
body:before {
	content: '';
	position: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	filter: blur(5px);
}
div{
box-sizing: initial;
background-color:rgba(255,255,255,0.25);
border-radius: 10px;
position:fixed;
left:50%;
top:50%;
transform: translate(-50%, -50%);
width: 350px;
height: 500px;
padding: 60px 40px;
} 
h2{
    margin: 0%;
	padding: 0 0 0px;
	color: black;
	text-align: center;
	text-transform: uppercase;
}
p{
    margin: 5%;
	padding: 0;
	font-weight: bold;
    font-size: 18px;
	color:black;
}
input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
}
input[type=text],input[type=email],input[type=password]{
    border:black;
    text-align:center;
    border-style:1px solid;
	color:black;
}
button[type=submit]{
    margin-top: 10%;
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-radius: 20px;
	color: #fff;
	background: rgb(255, 0, 76);
	border: none;
	outline: none;
}